<!DOCTYPE html>
<html>
	<head>
		<title>All Posts</title>
	</head>
	<body>
	<h1>Database Content</h1>
	<table border="1" cellpadding="10">
		<tr>
			<th>ID</th>
			<th>Type</th>
			<th>Content</th>
			<th>Caption</th>
			<th>Folder</th>
			<th>Action</th>
		</tr>
		{% for p in posts %}
		<tr>
			<td>{{p[0]}}</td>
			<td>{{p[1]}}</td>
			<td>{{p[2]}}</td>
			<td>{{p[3]}}</td>
			<td>{{p[4]}}</td>
			<td>
				<a href="/delete_post/{{p[0]}}">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	</body>
</html>