<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body{
			margin:0;
			height:100vh;
			overflow-x:hidden;
		}

		.landing{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landing-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
		
	</style>
</head>
<body>
<div class="landing">
  <a href="/feed">
    <img class="landing-img" src="/static/landing.png">
  </a>
</div>


<script>
function goToFeed(){
	window.location.href = "{{ url_for('feed') }}"
}
</script>

</body>
</html>